body {
  margin: 0;
  background-color: #000000;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  width: 1440px;
  height: 2829px;
  margin: 50px auto;
  display: grid;
  grid-template-areas:
    "nav nav nav nav nav nav nav nav nav nav nav nav"
    "header header header header header header header header header header header header"
    "main main main main main main main main main main main main"
    "footer footer footer footer footer footer footer footer footer footer footer footer";
  column-gap: 20px;
  background-color: #f3eb81;
  padding: 0% 70px;
}

nav {
  grid-area: nav;
  display: flex;
  background-color: #f1a8f4;
  align-items: flex-start;
  justify-content: space-evenly;
}

nav img {
  width: 200px;
  height: auto;
  margin-top: 20px;
}

header {
  grid-area: header;
  background-color: #917c91;
}

main {
  grid-area: main;
  background-color: #f1a8f4;
}

footer {
  grid-area: footer;
  background-color: #917c91;
}

.nav-list {
  list-style: none;
  margin-top: 40px;
  padding: 0;
}

.nav-item {
  display: inline;
  margin-right: 20px;
}

.nav-link {
  text-decoration: none;
  color: inherit;
}
